*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #46146a00;
  overflow-x: hidden
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.shad{
  box-shadow: 0 2px 7px #CCC;
}
.shad2{
  box-shadow: 0 2px 6px #CCC;
}

.myblack{
  color: #333;
}

.mygradient{
  background: linear-gradient( 179.4deg,  #24499F 1.8%, #4B5893 97.1% );
}

.number-center{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 800;
}
.img-center{
  position: absolute;
  top: -20;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 800;
}
.bg-num{
  background-color: rgba(255, 255, 255, 0.2);
}